.focus\:text-field {
  input:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
}

.v-btn {
  border-radius: 12px;
}

@media (max-width: 600px) {
  .ct\:border-b-2 {
    border-bottom-width: 2px;
  }

  .ct\:pb-8 {
    padding-bottom: 2rem;
  }
}