.body {
  margin: 0 !important;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

// Style cho v-btn
.v-btn {
  &:focus {
    outline: none !important;
  }
}

@media (max-width: 1024px) {
  .rps-mb\:mt-14 {
    margin-top: 3.5rem;
  }

  .rps-mb\:mt-16 {
    margin-top: 4rem;
  }
}